.collection-preview {
  display: flex;
  width: 90vw;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 2rem;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
  }
  .preview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 4rem;
  }
}
